/* It's been a good 15 years since I've been deep in CSS. Let's see if I can still 
     make a stylesheet that doesn't completely suck. Going to try and organize this
     nicely and put as much as possible within this one goddamn sheet */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin to allow for new margins later. */ 
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Set core page defaults, starting with a set of sans-serif fonts across the whole page */

html {
    font-family: 'Lato', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height:1.25;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgb(201, 201, 201);
    display:grid;
    place-content:center;

}

/* We want to, largely, eschew color in favor of a relatively simple/slick grayscale. However,
     I like the color teal for our links, because I am a man of contrasts. */

a {
    color:rgb(10, 114, 80);
    text-decoration:none;
    font-weight: bold;
}

/* This is the primary page container. I'm giving it a small drop shadow, for fun! */

.container {
    margin-top:-0.5rem;
    background-color: white;
    padding:10px;
    box-shadow: 0 0 1rem hsl(0 0% 0% / 35%);
    border-radius: 0.5rem;
    max-width:1000px;
    /* display:grid; */
    /* position:relative; */
    /* top: 0px; */
    /* place-content:center; */
    
}

/* This controls the top black bar. */

.loathersHead {
    color:white;
    background-color:black;
    display:flex;
    margin-top:0.5rem;

    font-family: Oswald, Gill Sans, Verdana;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size:37px;
    
    text-align: center;
    height: 100px;
    line-height:100px;
}

.loathersHead a:hover {
    text-decoration:none;
}

.loathersHead img {
    margin: 0px;
}

.dotNet {
    color:gray;
    font-size:20px;
    line-height:117px;
}

/* This controls the navbar. */
     
.nav-links {
    box-sizing: border-box;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding-left: 0;
    background-color: rgb(65, 65, 65);
    padding:0px;
    font-size:small;
    line-height:2em;
}

.nav-links a {
    font-weight:normal;
}

.nav-link-text {
    color:rgb(220, 220, 220);
    padding:5px;
    font-family: Gill Sans, Verdana;
}

.nav-link-text:hover {
    background-color: black;
    color:white;
}

.navSpacer {
    flex-grow:1;
}

.nav-links img {
    display: inline-block;
    line-height:25px;
    margin:0px;
}

.nav-links span {
    color: rgb(65, 65, 65);
}

/* This controls the warning box, which I got cute with for some reason */

.warnBox {
    background: repeating-linear-gradient(
        45deg,
        #bc6060,
        #bc6060 10px,
        #984646 10px,
        #984646 20px
        );
    color:white;
    text-align: center;
    font-size:large;
    font-family: Oswald, Gill Sans, Verdana;
    font-weight: bold;
    text-shadow: 2px 2px 1px black;
    border:thick solid rgb(109, 0, 0);
    margin:10px 30px;
    padding: 5px;
}

/* This is a way to cheat flexboxes into making full width items */

.flexBreak {
    flex-basis: 100%;
    height: 0;
}

/* This is for the post listing */


h1, dl {
	margin: .5em 0em;
}

article {
	max-width: 70rem;
	margin: 0 auto;
	/* border: 0.18rem solid lightgrey; */
	padding: clamp(1rem, 2vw, 3rem);
	border-radius: 0.5rem;
}

article a {
    color:#984646;
}

article > * + * {
	margin-top: 1rem;
}

dl {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0.5rem 0;
}

dl > * {
	background: rgb(232, 232, 232);
	padding: 1rem;
}

dl > :nth-of-type(2n) {
	background: rgb(215, 215, 215);
}

dt {
	font-weight: 700;
	font-size: 1rem;
}

dd {
	margin: 0;
	padding: 1rem;
	display: flex;
	align-items: center;
}

/* This controls page titles, ported into Layout via a pageTitle var */

.heading {
    padding: 10px;
    color: rgb(39, 39, 39);
    
    font-family: Oswald, Gill Sans, Verdana;

    font-size: 20px;
    letter-spacing: -1px;
    font-weight: bold;

    height:50px;
    line-height:50px;
    overflow:hidden;

    margin-top: 5px;
}

/* This controls subtitles, with date & tag. Also author slug */

h6,
h7 {
    margin:0;
    margin-bottom:10px;
    color: rgb(102, 102, 102);

    /* using monospace for this  */
    font-family: Menlo, Consolas, monospace;
    font-size: .8em;

    height:20px;
    line-height:20px;
    text-align:right;

    overflow:hidden;
}

/* This controls spacing for the post itself */

.content {
    display:grid;
    place-content:center;
    padding: 10px
}

.content ul {
    margin:8px 0px;
}

.content li {
    margin: .7em 0em;
    line-height:1.25em;
}

.content h2 {
    margin-top: 0.5em;
}

.content p {
    line-height: 1.5em;
    margin: 0.5em 0em;
}

.content blockquote {
    background-color: #efefef;
    color: rgb(97, 97, 97);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
}

.content blockquote li {
    padding: 5px;
    background: rgb(222,222,222);
    background: linear-gradient(90deg, rgba(222,222,222,1) 0%, rgba(239,239,239,1) 35%, rgba(239,239,239,1) 100%);
}

.content blockquote li::marker {
    content:'';
}

.content table {
    margin: 10px;
    max-width: 100%; 
    overflow: auto;
}

.content th {
    border-bottom: 3px solid #ccc;
    background-color: black;
    color: white;
    padding: 0.5em;
}

.content td {
    padding: 0.25em;
}

.content tr {
    background-color: rgb(215, 215, 215);
}

.content tbody tr:nth-child(odd) {
    background: rgb(232, 232, 232);
}

.content code {
    background-color: rgb(51, 48, 76);
    color: rgb(237, 213, 213);
    border-radius:0.3em;
    padding: 3px;
}

.content hr {
    overflow: visible; /* For IE */
    padding: 0;
    width:100%;
    border: none;
    border-top: medium double #929292;
    color: #a0a0a0;
    text-align: center;
    margin:0px;
    margin-top: 15px;
}

.content hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

/* This controls our footers, which is just the small copyright/gatsby callout */

footer {
    font-size:x-small;
    color:gray;
    text-align:right;
}


/* This controls the hotdoglink, a long main page link card */

.hotDogLink {
    margin: 10px;
    display:flex;
    /* flex-wrap: wrap; */
    flex-direction:column;
    list-style: none;
    color: white;
    border-radius: 2rem;
    font-weight:normal;
    padding-bottom:10px;
    text-align: center;

    /* This works in npm dev but not deployment. Weird and sad but c'est la vie. */
    /* background:url("data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><foreignObject width=%22100px%22 height=%22100px%22><div xmlns=%22http://www.w3.org/1999/xhtml%22 style=%22color:transparent;text-shadow: 20px 10px rgba(0, 50, 0, .2), 0 0  rgba(0,50,0,.1);font-size:70px%22>🍸</div></foreignObject></svg>"), firebrick; 
    background-size: 100px 100px; 
    background-position: bottom right;
    background-repeat: no-repeat; */

}

.hotDogLink h1 {
    background-color:#800000;
    font-family: Gill Sans, Verdana;
    font-size: 1em;
    text-align: center;
    flex-grow: 1;
    padding:5px;
    margin:0px;
}

.hotDogLink h2 {
    padding:5px;
    margin:0px;
}
.hotDogLink li {
    flex-grow: 1;
    font-size: 1em;
    padding: 10px;
    margin:0px;
}

.hotDogLink a {
    color: white; 
    font-weight:normal;
}

.hotDogLink p {
    margin: 0px;
}

/* Styling for our tools page */

.toolsGrid {
    list-style: none;
    display:block;
    padding: 5px;
}

.toolsGrid li {
    text-indent: 0;
    border-radius: 1em;
    padding: 10px;
    text-align: center;
    background-color: rgb(225, 243, 238);
/* 
    background:url("data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><foreignObject width=%22100px%22 height=%22100px%22><div xmlns=%22http://www.w3.org/1999/xhtml%22 style=%22color:transparent;text-shadow: 10px 10px rgba(0, 100, 0, .1), 0 0  rgba(0,50,0,0);font-size:70px%22>⚙️</div></foreignObject></svg>"), rgb(210, 240, 232); 
    background-size: 50px 50px; 
    background-position: top left;
    background-repeat: no-repeat; */

}

.toolsGrid h2 {
    margin:0px;
    padding: 10px;
    border-bottom: thick dashed rgb(161, 205, 205);
}

/* Keep images small */

.content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}